/* Importa fonte do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Configuração geral */
html,
body {
  height: 100%;
  background-image: url("https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-52393.jpg?w=996&t=st=1676505532~exp=1676506132~hmac=6b14ade974c134097dc1c643618629fccd880da32a3682366a1e3d3d314d8aad");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

/* Centraliza o conteúdo */
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilização do card */
.card {
  background-color: rgba(0, 0, 0, 0.8);
  width: 400px;
  border-radius: 10px;
  padding: 20px;
}

.card-header h3 {
  color: #ffc312;
}

.card-header p {
  font-size: 0.9rem;
  color: #aaa;
}

.input-group-text {
  background-color: #ffc312;
  color: #000;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #fff;
}

.form-control::placeholder {
  color: #ddd;
}

.login_btn {
  background-color: #ffc312;
  color: #000;
  border: none;
  width: 100%;
  padding: 10px;
  tr
